body {
  font-family: "Poppins", sans-serif;
  font-size: 13px;
  color: #8F95A5;
  line-height: 1.5;
  background-color: background-white-color;
}

@media screen and (min-width: 575px) {
  body {
    font-size: 14px;
  }
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
p {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

a {
  text-decoration: none;
}

address {
  font-style: normal;
}

.container {
  width: 320px;
  padding-left: 14px;
  padding-right: 14px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 575px) {
  .container {
    width: 575px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 992px;
    padding-left: 32px;
    padding-right: 32px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
  }
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.title {
  margin-bottom: 50px;
  font-weight: 600;
  font-size: 24px;
  color: #000000;
  text-align: center;
}
@media screen and (min-width: 575px) {
  .title {
    font-size: 30px;
  }
}
@media screen and (min-width: 768px) {
  .title {
    font-size: 30px;
  }
}
@media screen and (min-width: 992px) {
  .title {
    font-size: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .title {
    margin-bottom: 60px;
    font-size: 48px;
  }
}

@media screen and (min-width: 1200px) {
  .touppercase {
    text-transform: uppercase;
  }
}

@-webkit-keyframes lightning {
  0% {
    fill: #8f95a5;
  }
  50% {
    fill: #FF6C00;
  }
  100% {
    fill: #8f95a5;
  }
}

@keyframes lightning {
  0% {
    fill: #8f95a5;
  }
  50% {
    fill: #FF6C00;
  }
  100% {
    fill: #8f95a5;
  }
}
.button {
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  color: #FFFFFF;
  border-radius: 5px;
  border-color: transparent;
  background: #263238;
  cursor: pointer;
}
.button:hover, .button:focus {
  background-color: #FF6C00;
}

.logo {
  color: #000000;
  font-size: 24px;
}
@media screen and (min-width: 768px) {
  .logo {
    font-size: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    font-size: 36px;
  }
}
.logo__accent {
  color: #939393;
}

.header {
  position: relative;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 36px 14px 29px 14px;
}
@media screen and (min-width: 575px) {
  .header__container {
    padding: 40px 50px 11px 32px;
  }
}
@media screen and (min-width: 768px) {
  .header__container {
    padding-left: 32px;
    padding-right: 32px;
    padding-bottom: 40px;
    padding-top: 40px;
  }
}
@media screen and (min-width: 1200px) {
  .header__container {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 63px;
    padding-top: 63px;
  }
}
.header__wrapper {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  padding: 30px;
  background-color: #E5E5E5;
  -webkit-transition: display 250ms linear;
  transition: display 250ms linear;
}
@media screen and (min-width: 992px) {
  .header__wrapper {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0;
    margin-left: 167px;
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .header__wrapper {
    margin-left: 236px;
  }
}
.header__wrapper.is-open {
  display: block;
}

.header__navigation-list {
  margin-bottom: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 25px;
}
@media screen and (min-width: 992px) {
  .header__navigation-list {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 0;
    gap: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .header__navigation-list {
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    gap: 50px;
  }
}
.header__navigation-icon {
  margin-right: 10px;
  width: 20px;
  height: 20px;
}
@media screen and (min-width: 992px) {
  .header__navigation-icon {
    display: none;
  }
}
.header__navigation-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #263238;
}
.header__navigation-link:hover, .header__navigation-link:focus {
  color: #FF6C00;
  font-size: 16px;
  text-decoration: underline;
}
@media screen and (min-width: 1200px) {
  .header__navigation-link:hover, .header__navigation-link:focus {
    font-size: 20px;
  }
}
.header__navigation-link:hover .header__navigation-icon, .header__navigation-link:focus .header__navigation-icon {
  fill: #FF6C00;
}

.header__button {
  padding: 12px 40px;
  color: #000000;
  font-size: 18px;
  border: 2px solid #263238;
  border-radius: 5px;
}
@media screen and (min-width: 992px) {
  .header__button {
    margin-left: auto;
    background-color: #FFFFFF;
  }
}
@media screen and (min-width: 1200px) {
  .header__button {
    padding: 20px 56px;
    font-size: 20px;
    letter-spacing: 0.03em;
  }
}
.header__button-mobile {
  padding: 0;
  width: 40px;
  height: 40px;
  border: none;
  background-color: #FFFFFF;
}

@media screen and (min-width: 992px) {
  .header__icon {
    display: none;
  }
}

.header__icon-close {
  display: none;
}

.header__button-mobile.is-open .header__icon-menu {
  display: none;
}

.header__button-mobile.is-open .header__icon-close {
  display: block;
}

@media screen and (min-width: 992px) {
  .header__button-mobile {
    display: none;
  }
  .header__icon-bulb {
    display: block;
  }
}
.hero__container {
  padding-bottom: 50px;
}
@media screen and (min-width: 768px) {
  .hero__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding-top: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__container {
    padding-top: 0;
  }
}
@media screen and (min-width: 768px) {
  .hero__wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (min-width: 992px) {
  .hero__wrapper {
    position: relative;
  }
}
.hero__image {
  margin-bottom: 15px;
}
@media screen and (min-width: 575px) {
  .hero__image {
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 768px) {
  .hero__image {
    width: 358px;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 992px) {
  .hero__image {
    width: 460px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__image {
    width: 654px;
  }
}
.hero__title {
  margin: 0 auto;
  margin-bottom: 20px;
  max-width: 220px;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  color: #000000;
}
@media screen and (min-width: 575px) {
  .hero__title {
    max-width: 100%;
    margin-bottom: 25px;
    font-size: 34px;
  }
}
@media screen and (min-width: 768px) {
  .hero__title {
    max-width: 217px;
    margin: 0;
    margin-bottom: 25px;
    font-size: 36px;
    text-align: left;
  }
}
@media screen and (min-width: 992px) {
  .hero__title {
    max-width: 290px;
    font-size: 48px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__title {
    margin-bottom: 40px;
    max-width: 368px;
    font-weight: 600;
    font-size: 64px;
  }
}
.hero__descr {
  margin-bottom: 30px;
  color: #8F95A5;
  text-align: center;
}
@media screen and (min-width: 575px) {
  .hero__descr {
    width: 486px;
    margin: 0 auto;
    margin-bottom: 35px;
    font-size: 16px;
  }
}
@media screen and (min-width: 575px) {
  .hero__descr {
    margin-bottom: 0;
    width: 338px;
  }
}
@media screen and (min-width: 768px) {
  .hero__descr {
    text-align: left;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
@media screen and (min-width: 992px) {
  .hero__descr {
    margin-bottom: 30px;
    width: 420px;
    font-size: 20px;
  }
}
@media screen and (min-width: 992px) {
  .hero__descr {
    margin-bottom: 60px;
    width: 540px;
    font-size: 24px;
  }
}
.hero__button {
  padding: 22px 0;
  width: 100%;
  font-size: 16px;
}
@media screen and (min-width: 575px) {
  .hero__button {
    width: 305px;
    display: block;
    margin: 0 auto;
  }
}
@media screen and (min-width: 768px) {
  .hero__button {
    padding: 19px 67px;
    width: 236px;
    margin: 0;
  }
}
@media screen and (min-width: 992px) {
  .hero__button {
    display: inline-block;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-size: 24px;
    padding: 22px 78px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__button {
    padding: 23px 64px;
    letter-spacing: 0.03em;
    font-size: 36px;
    font-weight: 400;
  }
}
.hero__icon {
  display: none;
  width: 100px;
  height: 85px;
}
@media screen and (min-width: 1200px) {
  .hero__icon {
    width: 130px;
    height: 130px;
  }
}
.hero__icon-buld {
  width: 100%;
  height: 100%;
}
@media screen and (min-width: 992px) {
  .hero__icon {
    position: absolute;
    top: 100px;
    right: 60px;
    display: block;
    -webkit-animation-name: lightning;
            animation-name: lightning;
    -webkit-animation-duration: 3000ms;
            animation-duration: 3000ms;
    -webkit-animation-timing-function: linear;
            animation-timing-function: linear;
    -webkit-animation-iteration-count: infinite;
            animation-iteration-count: infinite;
  }
}
@media screen and (min-width: 1200px) {
  .hero__icon {
    position: absolute;
    top: 70px;
    right: 50px;
  }
}

@media screen and (min-width: 1200px) {
  .skills.section {
    padding-top: 130px;
  }
}
.skills__text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.skills__subheader {
  font-weight: 600;
  font-size: 18px;
  color: #263238;
}
@media screen and (min-width: 768px) {
  .skills__subheader {
    margin-bottom: 15px;
  }
}
@media screen and (min-width: 992px) {
  .skills__subheader {
    font-size: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .skills__subheader {
    margin-bottom: 20px;
    font-size: 30px;
  }
}
.skills__descr:not(:last-child) {
  margin-bottom: 30px;
  font-size: 13px;
  line-height: 20px;
  color: #8F95A5;
}
@media screen and (min-width: 575px) {
  .skills__descr:not(:last-child) {
    font-size: 12px;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
@media screen and (min-width: 768px) {
  .skills__descr:not(:last-child) {
    margin-bottom: 10px;
    font-size: 12px;
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
    margin-bottom: 30px;
  }
}
@media screen and (min-width: 992px) {
  .skills__descr:not(:last-child) {
    font-size: 14px;
  }
}
@media screen and (min-width: 1200px) {
  .skills__descr:not(:last-child) {
    width: 320px;
    margin-bottom: 30px;
    font-size: 16px;
    line-height: 24px;
  }
}
.skills__button {
  padding: 14px 42px;
}
@media screen and (min-width: 768px) {
  .skills__button {
    width: 168px;
  }
}
@media screen and (min-width: 1200px) {
  .skills__button {
    padding: 17px 62px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-weight: 500;
    font-size: 18px;
  }
}

.skills__image {
  margin-bottom: 10px;
}
@media screen and (min-width: 992px) {
  .skills__image {
    height: 190px;
    width: 243px;
  }
}
@media screen and (min-width: 1200px) {
  .skills__image {
    margin-bottom: 25px;
    height: 260px;
    width: 390px;
  }
}
@media screen and (min-width: 768px) {
  .skills__image--speaking {
    height: 215px;
  }
}
@media screen and (min-width: 992px) {
  .skills__image--speaking {
    height: 190px;
    width: 243px;
  }
}
@media screen and (min-width: 1200px) {
  .skills__image--speaking {
    height: 260px;
    width: 390px;
  }
}
@media screen and (min-width: 768px) {
  .skills__image--listening {
    -ms-flex-item-align: center;
        align-self: center;
    width: 202px;
    height: 134px;
  }
}
@media screen and (min-width: 992px) {
  .skills__image--listening {
    height: 180px;
    width: 243px;
  }
}
@media screen and (min-width: 1200px) {
  .skills__image--listening {
    height: 246px;
    width: 408px;
  }
}

.skills__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 21px;
}
@media screen and (min-width: 575px) {
  .skills__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) {
  .skills__list {
    display: grid;
    grid-template-columns: repeat(3, minmax(227px, 1fr));
    grid-template-rows: auto minmax(210px, 1fr);
    gap: 10px;
    grid-template-areas: "speaking writing reading" "speaking listening listening";
  }
}
@media screen and (min-width: 992px) {
  .skills__list {
    grid-template-columns: repeat(3, minmax(303px, 1fr));
    gap: 10px;
  }
}
.skills .skills__item {
  padding: 13px 13px 44px 13px;
  background-color: #F5F5F5;
  border-radius: 10px;
}
@media screen and (min-width: 575px) {
  .skills .skills__item {
    min-height: 535px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 575px) {
  .skills .skills__item {
    min-height: auto;
  }
}
@media screen and (min-width: 575px) {
  .skills .skills__item {
    padding: 27px 30px;
  }
}
@media screen and (min-width: 992px) {
  .skills .skills__item {
    padding: 15px 25px;
  }
}
@media screen and (min-width: 1200px) {
  .skills .skills__item {
    padding: 32px 18px;
  }
}
.skills .skills__item--speaking {
  grid-area: speaking;
}
.skills .skills__item--writing {
  grid-area: writing;
}
.skills .skills__item--reading {
  grid-area: reading;
}
.skills .skills__item--listening {
  grid-area: listening;
}
@media screen and (min-width: 768px) {
  .skills .skills__item--listening {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
  }
}

@media screen and (min-width: 1200px) {
  .about.section {
    padding-top: 130px;
  }
}
.about__image {
  margin-bottom: 20px;
}
@media screen and (min-width: 992px) {
  .about__image {
    width: 336px;
  }
}
@media screen and (min-width: 575px) {
  .about__image {
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 768px) {
  .about__image {
    grid-area: 1/2/4/3;
  }
}
@media screen and (min-width: 768px) {
  .about__image {
    margin-bottom: 0;
    width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .about__wrapper {
    display: grid;
    grid-template-columns: 321px 295px;
    grid-template-rows: repeat(3, auto);
    -webkit-column-gap: 78px;
       -moz-column-gap: 78px;
            column-gap: 78px;
  }
}
@media screen and (min-width: 992px) {
  .about__wrapper {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    -webkit-column-gap: 78px;
       -moz-column-gap: 78px;
            column-gap: 78px;
  }
}
@media screen and (min-width: 992px) {
  .about__wrapper {
    -webkit-column-gap: 0;
       -moz-column-gap: 0;
            column-gap: 0;
  }
}
@media screen and (min-width: 768px) {
  .about__header {
    margin-bottom: 15px;
    text-align: left;
    grid-area: 1/1/2/2;
  }
}
@media screen and (min-width: 922px) {
  .about__header {
    margin-bottom: 25px;
  }
}
@media screen and (min-width: 1200px) {
  .about__header {
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 575px) {
  .about__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
    width: 421px;
  }
}
@media screen and (min-width: 768px) {
  .about__list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    gap: 40px;
  }
}
@media screen and (min-width: 992px) {
  .about__list {
    margin: 0;
  }
}
@media screen and (min-width: 1200px) {
  .about__list {
    width: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 131px;
  }
}
.about__item {
  margin-bottom: 29px;
  text-align: center;
}
.about__descr {
  margin-bottom: 25px;
  font-size: 13px;
  line-height: 20px;
  text-align: center;
  color: #8F95A5;
}
@media screen and (min-width: 575px) {
  .about__descr {
    margin-bottom: 55px;
    font-size: 14px;
  }
}
@media screen and (min-width: 768px) {
  .about__descr {
    margin-bottom: 25px;
    text-align: left;
  }
}
@media screen and (min-width: 992px) {
  .about__descr {
    margin-bottom: 15px;
    font-size: 16px;
    width: 525px;
  }
}
@media screen and (min-width: 1200px) {
  .about__descr {
    margin-bottom: 30px;
    width: 654px;
    font-size: 20px;
    line-height: 36px;
  }
}
.about__num {
  display: block;
  margin-bottom: 10px;
  font-weight: 600;
  font-size: 24px;
  color: #2A3246;
}
@media screen and (min-width: 768px) {
  .about__num {
    grid-area: 3/1/4/2;
    font-size: 22px;
  }
}
@media screen and (min-width: 992px) {
  .about__num {
    grid-area: 3/1/4/2;
    font-size: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .about__num {
    margin-bottom: 6px;
    font-weight: 600;
    font-size: 48px;
  }
}
.about__num__text {
  font-size: 15px;
  line-height: 22px;
  color: #8F95A5;
}
@media screen and (min-width: 768px) {
  .about__num__text {
    font-size: 13px;
    text-align: left;
    grid-area: 2/1/3/2;
  }
}
@media screen and (min-width: 992px) {
  .about__num__text {
    font-size: 16px;
  }
}
@media screen and (min-width: 992px) {
  .about__num__text {
    font-size: 20px;
    line-height: 30px;
  }
}

@media screen and (min-width: 1200px) {
  .pricing.section {
    padding-top: 130px;
  }
}
.pricing__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 60px;
}
@media screen and (min-width: 768px) {
  .pricing__list {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    gap: 60px;
  }
}
@media screen and (min-width: 992px) {
  .pricing__list {
    gap: 50px;
  }
}
@media screen and (min-width: 1200px) {
  .pricing__list {
    gap: 30px;
  }
}
.pricing__item {
  text-align: center;
}
@media screen and (min-width: 575px) {
  .pricing__item {
    margin: 0 auto;
    width: 394px;
  }
}
@media screen and (min-width: 768px) {
  .pricing__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: calc((100% - 75px) / 3);
        flex-basis: calc((100% - 75px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .pricing__item {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-preferred-size: calc((100% - 90px) / 3);
        flex-basis: calc((100% - 90px) / 3);
  }
}
.pricing__image {
  margin-bottom: 28px;
}
@media screen and (min-width: 575px) {
  .pricing__image {
    margin-bottom: 29px;
    width: 394px;
  }
}
@media screen and (min-width: 768px) {
  .pricing__image {
    height: 210px;
  }
}
@media screen and (min-width: 992px) {
  .pricing__image {
    height: 245px;
  }
}
@media screen and (min-width: 1200px) {
  .pricing__image {
    margin-bottom: 30px;
    height: none;
  }
}
.pricing__subheader {
  margin-bottom: 17px;
  font-weight: 600;
  font-size: 18px;
  color: #263238;
}
@media screen and (min-width: 575px) {
  .pricing__subheader {
    margin-bottom: 23px;
    font-size: 24px;
  }
}
@media screen and (min-width: 768px) {
  .pricing__subheader {
    text-align: left;
  }
}
@media screen and (min-width: 992px) {
  .pricing__subheader {
    font-size: 22px;
  }
}
@media screen and (min-width: 1200px) {
  .pricing__subheader {
    margin-bottom: 20px;
    font-weight: 600;
    font-size: 27px;
    line-height: 48px;
  }
}
.pricing__descr {
  margin-bottom: 33px;
  line-height: 20px;
  text-align: center;
  color: #8F95A5;
}
@media screen and (min-width: 575px) {
  .pricing__descr {
    margin-bottom: 31px;
  }
}
@media screen and (min-width: 768px) {
  .pricing__descr {
    text-align: left;
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
  }
}
@media screen and (min-width: 992px) {
  .pricing__descr {
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .pricing__descr {
    margin-bottom: 35px;
    font-size: 20px;
    line-height: 30px;
  }
}
.pricing__cost {
  display: inline-block;
  padding: 5px 15px;
  text-align: center;
  color: #546269;
  background: #EEEEEE;
  border-radius: 5px;
}
@media screen and (min-width: 575px) {
  .pricing__cost {
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .pricing__cost {
    font-size: 18px;
  }
}
.pricing__amount {
  font-size: 18px;
  color: #263238;
}
@media screen and (min-width: 575px) {
  .pricing__amount {
    font-size: 24px;
  }
}
@media screen and (min-width: 768px) {
  .pricing__amount {
    font-size: 22px;
  }
}
@media screen and (min-width: 992px) {
  .pricing__amount {
    font-size: 24px;
  }
}
@media screen and (min-width: 1200px) {
  .pricing__amount {
    margin-right: 21px;
    font-size: 24px;
  }
}

@media screen and (min-width: 768px) {
  .contacts__wrapper {
    display: grid;
    grid-template-columns: repeat(1fr, 1fr);
    grid-template-rows: repeat(3, auto);
    -webkit-column-gap: 36px;
       -moz-column-gap: 36px;
            column-gap: 36px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__wrapper {
    -webkit-column-gap: 130px;
       -moz-column-gap: 130px;
            column-gap: 130px;
  }
}
@media screen and (min-width: 768px) {
  .contacts__header {
    margin-bottom: 15px;
    grid-area: 1/2/2/3;
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__header {
    margin-bottom: 60px;
    grid-area: 1/2/2/3;
    text-align: left;
  }
}
.contacts__image {
  margin-bottom: 38px;
}
@media screen and (min-width: 575px) {
  .contacts__image {
    width: 358px;
    margin: 0 auto;
    margin-bottom: 34px;
  }
}
@media screen and (min-width: 768px) {
  .contacts__image {
    margin-bottom: 0;
    max-width: 233px;
    grid-area: 1/1/4/2;
  }
}
@media screen and (min-width: 992px) {
  .contacts__image {
    max-width: 312px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__image {
    max-width: 425px;
  }
}
.contacts__descr {
  margin-bottom: 30px;
  text-align: center;
}
@media screen and (min-width: 575px) {
  .contacts__descr {
    margin: 0 auto;
    margin-bottom: 60px;
    width: 469px;
    font-size: 16px;
  }
}
@media screen and (min-width: 768px) {
  .contacts__descr {
    grid-area: 2/2/3/3;
    margin: 0;
    margin-bottom: 35px;
    text-align: left;
    width: 420px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__descr {
    font-size: 20px;
    line-height: 30px;
    width: 625px;
  }
}
.contacts__form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (min-width: 575px) {
  .contacts__form {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}
@media screen and (min-width: 768px) {
  .contacts__form {
    grid-area: 3/2/4/3;
  }
}
@media screen and (min-width: 992px) {
  .contacts__form {
    height: 56px;
  }
}
.contacts__label {
  margin-bottom: 20px;
  font-size: 12px;
  color: #8F95A5;
}
@media screen and (min-width: 575px) {
  .contacts__label {
    -webkit-box-flex: 1;
        -ms-flex-positive: 1;
            flex-grow: 1;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 768px) {
  .contacts__label {
    -webkit-box-flex: 0;
        -ms-flex-positive: 0;
            flex-grow: 0;
  }
}
.contacts__input {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 16px 26px;
  width: 100%;
  border: 1px solid #8F95A5;
  border-radius: 5px;
}
@media screen and (min-width: 575px) {
  .contacts__input {
    border-radius: 10px;
    padding: 20px 25px;
    width: 105%;
  }
}
@media screen and (min-width: 768px) {
  .contacts__input {
    padding: 20px 25px;
    width: 283px;
  }
}
@media screen and (min-width: 768px) {
  .contacts__input {
    padding: 20px 25px;
    width: 425px;
  }
}
.contacts__input::-webkit-input-placeholder {
  color: #8F95A5;
}
.contacts__input::-moz-placeholder {
  color: #8F95A5;
}
.contacts__input:-ms-input-placeholder {
  color: #8F95A5;
}
.contacts__input::-ms-input-placeholder {
  color: #8F95A5;
}
.contacts__input::placeholder {
  color: #8F95A5;
}
@media screen and (min-width: 575px) {
  .contacts__input::-webkit-input-placeholder {
    font-size: 13px;
  }
  .contacts__input::-moz-placeholder {
    font-size: 13px;
  }
  .contacts__input:-ms-input-placeholder {
    font-size: 13px;
  }
  .contacts__input::-ms-input-placeholder {
    font-size: 13px;
  }
  .contacts__input::placeholder {
    font-size: 13px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__input::-webkit-input-placeholder {
    font-size: 16px;
  }
  .contacts__input::-moz-placeholder {
    font-size: 16px;
  }
  .contacts__input:-ms-input-placeholder {
    font-size: 16px;
  }
  .contacts__input::-ms-input-placeholder {
    font-size: 16px;
  }
  .contacts__input::placeholder {
    font-size: 16px;
  }
}
.contacts__button {
  font-family: inherit;
  padding: 20px;
  width: 100%;
  font-weight: 500;
  font-size: 16px;
}
@media screen and (min-width: 575px) {
  .contacts__button {
    margin-left: auto;
    padding: 21px 56px 15px 56px;
    width: inherit;
    border-radius: 10px;
    border: transparent;
  }
}
@media screen and (min-width: 768px) {
  .contacts__button {
    padding: 15px 39px;
    margin-left: 10px;
  }
}
@media screen and (min-width: 992px) {
  .contacts__button {
    padding: 21px 56px;
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__button {
    margin-left: 30px;
    padding: 0 56px;
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
    font-weight: 500;
    font-size: 20px;
    letter-spacing: 0.03em;
  }
}

.contacts.section {
  padding-bottom: 144px;
}
@media screen and (min-width: 768px) {
  .contacts.section {
    padding-bottom: 112px;
  }
}
@media screen and (min-width: 992px) {
  .contacts.section {
    padding-top: 100px;
    padding-bottom: 112px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts.section {
    padding-top: 130px;
    padding-bottom: 55px;
  }
}

.footer {
  position: relative;
}
@media screen and (min-width: 575px) {
  .footer {
    padding-top: 24px;
    padding-bottom: 26px;
  }
}
@media screen and (min-width: 768px) {
  .footer {
    padding-top: 18px;
    padding-bottom: 15px;
  }
}
@media screen and (min-width: 1200px) {
  .footer {
    padding-top: 22px;
    padding-bottom: 77px;
  }
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.footer__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-weight: 500;
  font-size: 11px;
}
@media screen and (min-width: 575px) {
  .footer__list {
    margin-left: auto;
    list-style: disc;
  }
}
@media screen and (min-width: 768px) {
  .footer__list {
    font-size: 13px;
  }
}
@media screen and (min-width: 992px) {
  .footer__list {
    font-size: 16px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__list {
    gap: 80px;
    font-size: 24px;
    letter-spacing: 0.02em;
  }
}
.footer__link {
  color: inherit;
}
@media screen and (min-width: 575px) {
  .footer__item:not(:first-child) {
    margin-left: 25px;
    list-style: disc;
  }
}
@media screen and (min-width: 1200px) {
  .footer__item:not(:first-child) {
    margin-left: 25px;
    list-style: none;
  }
}
.footer__logo {
  display: block;
  margin-bottom: 15px;
  text-align: center;
}
.footer__logo::before {
  content: "";
  position: absolute;
  top: 0;
  display: block;
  margin: 0 auto;
  height: 1px;
  width: 510px;
  background-color: #E5E5E5;
}
@media screen and (min-width: 575px) {
  .footer__logo::before {
    width: 510px;
  }
}
@media screen and (min-width: 768px) {
  .footer__logo::before {
    width: 704px;
  }
}
@media screen and (min-width: 992px) {
  .footer__logo::before {
    width: 928px;
  }
}
@media screen and (min-width: 1200px) {
  .footer__logo::before {
    width: 1160px;
  }
}
@media screen and (min-width: 575px) {
  .footer__logo {
    margin-bottom: 0;
  }
}/*# sourceMappingURL=main.css.map */