.logo {
  color: $headers-black-color;
  font-size: 24px;

  @media screen and (min-width: 768px) {
    font-size: 30px;
  }

  @media screen and (min-width: 1200px) {
    font-size: 36px;
  }

  &__accent {
    color: $logo-accent-color;
  }
}