.skills {

  &.section {
    @media screen and (min-width: 1200px) {
      padding-top: 130px;
    }
  }

  &__text-wrapper {
    display: flex;
    flex-direction: column;
  }

  &__subheader {
    font-weight: 600;
    font-size: 18px;
    color: $subheaders-grey-color;

    @media screen and (min-width: 768px) {
      margin-bottom: 15px;
    }

    @media screen and (min-width: 992px) {
      font-size: 22px;
    }

    @media screen and (min-width: 1200px) {
      margin-bottom: 20px;
      font-size: 30px;
    }
  }

  &__descr:not(:last-child) {
    margin-bottom: 30px;
    font-size: 13px;
    line-height: 20px;
    color: $text-grey-color;

    @media screen and (min-width: 575px) {
      font-size: 12px;
      flex-grow: 1;
    }

    @media screen and (min-width: 768px) {
      margin-bottom: 10px;
      font-size: 12px;
      flex-grow: 0;
      margin-bottom: 30px;
    }

    @media screen and (min-width: 992px) {
      font-size: 14px;
    }

    @media screen and (min-width: 1200px) {
      width: 320px;
      margin-bottom: 30px;
      font-size: 16px;
      line-height: 24px;
    }
  }

  &__button {
    padding: 14px 42px;

    @media screen and (min-width: 768px) {
      width: 168px;
    }

    @media screen and (min-width: 1200px) {
      padding: 17px 62px;
      width: fit-content;

      font-weight: 500;
      font-size: 18px;
    }
  }
}

.skills {

  &__image {
    margin-bottom: 10px;

    @media screen and (min-width: 992px) {
      height: 190px;
      width: 243px;
    }

    @media screen and (min-width: 1200px) {
      margin-bottom: 25px;
      height: 260px;
      width: 390px;
    }

    &--speaking {
      @media screen and (min-width: 768px) {
        height: 215px;
      }

      @media screen and (min-width: 992px) {
        height: 190px;
        width: 243px;
      }

      @media screen and (min-width: 1200px) {
        height: 260px;
        width: 390px;
      }
    }

    &--listening {
      @media screen and (min-width: 768px) {
        align-self: center;
        width: 202px;
        height: 134px;
      }

      @media screen and (min-width: 992px) {
        height: 180px;
        width: 243px;
      }

      @media screen and (min-width: 1200px) {
        height: 246px;
        width: 408px;
      }
    }
  }
}

.skills {

  &__list {
    display: flex;
    flex-direction: column;
    gap: 21px;

    @media screen and (min-width: 575px) {
      flex-direction: row;
      flex-wrap: wrap;
    }

    @media screen and (min-width: 768px) {
      display: grid;
      grid-template-columns: repeat(3, minmax(227px, 1fr));
      grid-template-rows: auto minmax(210px, 1fr);
      gap: 10px;
      grid-template-areas:
        "speaking writing reading"
        "speaking listening listening";
    }

    @media screen and (min-width: 992px) {
      grid-template-columns: repeat(3, minmax(303px, 1fr));
      gap: 10px;
    }
  }

  .skills {

    &__item {
      padding: 13px 13px 44px 13px;
      background-color: $skills-bg;

      border-radius: 10px;

      @media screen and (min-width: 575px) {
        min-height: 535px;
        display: flex;
        flex-direction: column;
        flex-basis: calc((100% - 30px) / 2);
      }

      @media screen and (min-width: 575px) {
        min-height: auto;
      }

      @media screen and (min-width: 575px) {
        padding: 27px 30px;
      }

      @media screen and (min-width: 992px) {
        padding: 15px 25px;
      }

      @media screen and (min-width: 1200px) {
        padding: 32px 18px;
      }

      &--speaking {
        grid-area: speaking;
      }

      &--writing {
        grid-area: writing;
      }

      &--reading {
        grid-area: reading;
      }

      &--listening {
        grid-area: listening;

        @media screen and (min-width: 768px) {
          display: flex;
          flex-direction: row-reverse;
        }
      }
    }
  }
}