$headers-black-color:#000000;
$subheaders-grey-color:#263238;
$logo-accent-color:#939393;
$text-grey-color:#8F95A5;
$text-black-color:#000000;
$price-color:#546269;
$price-accent-color: #263238;
$buttons-white-color:#FFFFFF;
$buttons-bg-color:#263238;
$background-color:#E5E5E5;
$background-white-color: #FFFFFF;
$skills-bg:#F5F5F5;
$accent-color:#FF6C00;